#sobre-mi {
    width: 90%; /* Establecer el ancho como un porcentaje del contenedor */
    max-width: 1200px; /* Para evitar que se haga demasiado grande */
    margin: 10rem auto; /* Centra la sección */
    padding: 4% 5%; /* Espacio a los lados */
    display: flex; /* Usamos flexbox */
    flex-direction: column; /* Alineamos los elementos verticalmente */
    justify-content: center; /* Alinea los elementos al principio sin distribuir espacio */
    gap: 1rem; /* Ajusta el espacio entre los elementos */    
    align-items: left;
    box-sizing: border-box;
}

section {
    scroll-margin-top:  20rem; /* Ajusta según la altura de tu menú */
}

h1 {
    color: #3cd89a; 
    font-size: 4rem;   
}

p {
    font-size: 1.2rem;
}

#sobre-mi h2, #sobre-mi h1, #sobre-mi p {
    margin: 0; /* Elimina márgenes por defecto */
    text-align: left;
}

/* Estilo del botón */
.btn-lo-que-hago {
    margin-top: 1rem;
    display: inline-block;
    background-color: #3cd89a; /* Color de fondo */
    color: rgb(246, 245, 247); /* Color del texto */
    padding: 0.8rem 2rem;
    border: none; /* Sin borde */
    border-radius: 30px; /* Bordes redondeados */
    font-size: 1.2rem; /* Tamaño de texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: auto;
    max-width: 14rem;
    text-decoration: none; /* Quita el subrayado */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
    
   
}


/* Efecto hover para el botón */
.btn-lo-que-hago:hover {
    background-color: #47be8e;
    transform: scale(1.05);
}

/* Estado activo del botón Contacto */
.btn-lo-que-hago:active {
    box-shadow: 0px 0px 12px rgba(60, 216, 154, 0.8);
}

.contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.texto {
    width: 50%; /* Para que ocupe la mitad del espacio */
}

.imagen-sobre-mi {
    width: 40%;
    text-align: right; /* Asegura que la imagen se alinee a la derecha */
}

.imagen-sobre-mi img {
    width: 100%;
    max-width: 500px; /* Ajusta el tamaño máximo */
    border-radius: 10px;
}

